/.DS_Store
/AlamoPolyglot.csv
/Esercizio-Shap.ipynb
/Lezioni
/Progetto Gaia
/Real_Estate_Sales_2001-2022_GL.csv
/makinggames.pdf
Progetto Big Data/data
Progetto Big Data/data_clean
Progetto Big Data/speeches.json
venv-38/
.venv/
.DS_Store
Progetto Big Data/drugs_complete.csv
preprocessing.ipynb
Progetto Big Data/medicina.jsonl